
/* Hebbian CSS. */

body {
  background-color: #222;
  color: #5CE62E;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}






#user-profile
{
  border:1px solid;
  border-radius:5px;
  padding:10px;
}
