
/* Hebbian CSS. */

body {
  background-color: #000000;
  color: rgba(127,255,255,0.75);
  margin: 0;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

a {
  color: #ffffff;
}



button {
  color: rgba(127,255,255,0.75);
  background: transparent;
  outline: 1px solid rgba(127,255,255,0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0,255,255,0.5);
}
button:active {
  color: #000000;
  background-color: rgba(0,255,255,0.75);
}


#user-profile
{
  float:left;
  border:1px solid;
  border-radius:5px;
  padding:10px;
}

#controls {
  position: fixed;
  top: 40px;
  left: 40px;
  border: 1px solid rgba(255,255,255,1.0);
  cursor: default;
  color: rgba(255,255,255,1.0);
  background-color: rgba(0,0,0, 0.0);
  z-index:1;
}



#environment
{
  position:absolute;
  left:0px;
  top:0px;
  z-index:0;
  width:1200px;
  height:800px;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: center 400px;

}

#events
{
  position:absolute;
  left:0px;
  top:0px;
  border-radius:5px;
  width:1200px;
  height:800px;
  -webkit-transform-style: preserve-3D;
}


.label {
  color: rgba(255,255,255,1.0);
  margin:10px;
  float:left;
  width:120px;
}

.input {
  color: rgba(255,255,255,1.0);
  background-color: rgba(0,0,0, 0.0);
  border: 1px solid rgba(255,255,255,1.0);
  margin:10px;
  float:left;
  width:80px;

}

.tunnel {
	width: 5px;
	height: 5px;
  background-color: rgba(255,255,255, 0.3);
}

.event {
  width:130px;
  height:160px;
  margin:20px;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
  border: 1px solid rgba(127,255,255,0.25);
  cursor: default;
  color: rgba(255,255,255,0.75);
  background-color: rgba(0,127,127, 0.3);
}

.event:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}

.event .distance {
  padding-top:5px;
  padding-right:5px;
  min-height:60px;
  font-size: 12px;
  color: rgba(127,255,255,0.75);
  text-align: right;
}

.event .details {
  min-height:70px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px rgba(0,255,255,0.95);
  text-align: center;
}

.event .time {
  padding-right:5px;
  min-height:20px;
  font-size: 12px;
  color: rgba(127,255,255,0.75);
  text-align: right;
}
