<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Hebbian</title>

    <!-- Le styles -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/pedestal.css" rel="stylesheet">
    <link href="/app-pedestal.css" rel="stylesheet">


  </head>

  <body>

    <div class="container">
      <div id="user-details"></div>
      <div id="event-locations"></div>
      <div id="options"></div>
      <button id="edit-profile-btn" class="btn btn-success">Edit Profile</button>
      <button id="update-profile-btn" class="btn btn-success">Update</button>
      <footer></footer>
    </div> <!-- /container -->

    <!-- Add External JavaScript libraries -->
    <script src="/javascripts/jquery-min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.js" type="text/javascript"></script>
    <script src="/javascripts/pedestal/js/api.js" type="text/javascript"></script>

    <script id="script-driver"></script>

  </body>
</html>
